.header
	.navbar.navbar-default.container-fluid
		div
			ul.nav.navbar-nav
				li: a(href="/browse") GeoHermes
				li: a(href="/browse")
					i(class="fa fa-search")
				li: a(disabled)
					i(class="fa fa-plus")
				li: a(disabled)
					i(class="fa fa-arrows")
				li: a(disabled)
					i(class="fa fa-users")
